
<div class="d-flex justify-content-center align-items-center mt-5 mb-5 flex-column gap-5 container-fluid">
    <h2>Form assistant!</h2>
    <p>instantly digitalize all your forms!</p>
    <input type="file" id="file-input" (change)="onFileSelected($event)"/>
    <h3>Preview</h3>
    <p *ngIf="pdfImages.length == 0" class="bg-secondary p-5">such empty!</p>
    <div id="pdf-images" class="d-flex flex-wrap container" style="background-color: grey; overflow-y:scroll; max-height:500px" >
        <img [src]="image" *ngFor="let image of pdfImages" class="m-2" style="max-width: 200px; max-height: 200px"/>
    </div>
    
    <button (click)="onExtract()" class="btn btn-primary" [disabled] = "pdfImages.length == 0" *ngIf="!loading">Extract & Start filling</button>

    <div *ngIf="loading">
        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_qM83{animation:spinner_8HQG 1.05s infinite}.spinner_oXPr{animation-delay:.1s}.spinner_ZTLf{animation-delay:.2s}@keyframes spinner_8HQG{0%,57.14%{animation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)}28.57%{animation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)}100%{transform:translate(0)}}</style><circle class="spinner_qM83" cx="4" cy="12" r="3"/><circle class="spinner_qM83 spinner_oXPr" cx="12" cy="12" r="3"/><circle class="spinner_qM83 spinner_ZTLf" cx="20" cy="12" r="3"/></svg>
    </div>

</div>
  